<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	
	<!-- max thread throttle -->
	<add key="MaxConcurrentThreads" value="2"/>
	<!-- delay in milliseconds -->
    <add key="QueueSleepWhenEmpty" value="250"/>
    <!-- the queue server path -->
    <add key="QueueServer" value="DOLLTD093298"/>
    <!-- the input queue -->
    <add key="QueueRx" value="PRIVATE$\Vehicle"/>
    <!-- the output queue -->
    <add key="QueueTx" value="PRIVATE$\DBQTx"/>
    <!-- debug mode 0 = normal, 1 = log messages, 2 = log everything -->
    <add key="DebugMode" value="0"/>
    <!-- proxy -->
    <add key="Proxy" value=""/>
    <!-- user -->
    <add key="User" value=""/>
    <!-- password -->
    <add key="Password" value=""/>
    <!-- domain -->
    <add key="Domain" value=""/>
    <!-- UseSystemCredentials -->
    <add key="UseSystemCredentials" value="True"/>
    <!-- PreAuthenticate -->
    <add key="PreAuthenticate" value="False"/>
    
    <!-- the URL of the Fujitsu web service (this needs to be modified when	moving into production -->
    <add key="WebServiceURL" value="http://dolservicepredev.dol.wa.gov/dolWSPservice.asmx"/>
    
    <!-- QA http://dolserviceqa/dolwebservice.asmx -->
	<!-- DEV http://dolservicedev/dolwebservice.asmx -->
    
    </appSettings>
    
</configuration>
